<!DOCTYPE html>

<html lang="en">
	<style> /* set the CSS */

		.parama{
			display:inline-block;
		}


		table, th, tr, td{
			border-color:#BBBBBB;
			border-width:0.5px;
			border-style:solid;
			border-collapse:collapse;

		}

		body { font: 12px Arial;}
		
		path { 
			stroke: steelblue;
			stroke-width: 2;
			fill: none;
		}
		
		.axis path,
		.axis line {
			fill: none;
			stroke: grey;
			stroke-width: 1;
			shape-rendering: crispEdges;
		}
		
		</style>
	<head>
		<title>Fhir Application</title>
	</head>

	<body>
		<input type="text" id="Surname" name="Surname" value="Jakis" form="page" formmethod='get'>

		<input type="date" id="MinDate" name="MinDate" value="1915-04-28" form="page" formmethod='get'>
		<input type="date" id="MaxDate" name="MaxDate" value="2112-04-28" form="page" formmethod='get'>

		<button class="lurker" form="page" type="submit" formmethod="post" name="next" value="search">Search</button>
		<button class="lurker" form="page" type="submit" formmethod="post" name="next" value="searchTime">Search Time</button>

		{% if main==0 %}
			<table style="display:none;">
		{% else %}
			<table>
		{% endif %}

			<thead>
				<tr>
					<th>Name</th>
					<th>Surname</th>
					<th>Link</th>
				</tr>
			</thead>

			<tbody id="Patients">
			</tbody>
		</table>

		<br>

		{% if main==1 %}
			<table style="display:none;">
		{% else %}
			<table>
		{% endif %}
			<thead>
				<tr>
					<th>Date</th>
					<th>Status</th>
					<th>Medication</th>
					<th>Timing</th>
					<th>dosageInstruction</th>
				</tr>
			</thead>
			<tbody id="Medication">
			</tbody>
		</table>

		<br>

		{% if main==1 %}
			<table style="display:none;">
		{% else %}
			<table>
		{% endif %}
			<thead>
				<tr>
					<th>Date</th>
					<th>Display</th>
					<th>Value [unit]</th>
				</tr>
			</thead>
			<tbody id="Observation">
			</tbody>
		</table>

		{% if main==1 %}
			<div id="Graphs" style="display:none;">
		{% else %}
			<div id="Graphs">
		{% endif %}

			<div>
				<h4>Height</h4>
				<input type="date" id="MinDateHeight" name="MinDateHeight" value="1915-04-28" form="page" formmethod='get'>
				<input type="date" id="MaxDateHeight" name="MaxDateHeight" value="2112-04-28" form="page" formmethod='get'>

				<button class="lurker" form="page" type="submit" formmethod="post" name="next" value="searchTime">Search Time</button>
			</div>

			<div>
				<h4>Weight</h4>
				<input type="date" id="MinDateWeight" name="MinDateWeight" value="1915-04-28" form="page" formmethod='get'>
				<input type="date" id="MaxDateWeight" name="MaxDateWeight" value="2112-04-28" form="page" formmethod='get'>

				<button class="lurker" form="page" type="submit" formmethod="post" name="next" value="searchTime">Search Time</button>
			</div>

		</div>

		<!-- load the d3.js library -->    
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

		<script>

			// Set the dimensions of the canvas / graph
			var margin = {top: 30, right: 20, bottom: 30, left: 50},
			width = 600 - margin.left - margin.right,
			height = 270 - margin.top - margin.bottom;

			// Parse the date / time
			var parseDate = d3.time.format("%Y-%m-%d").parse;

			// Set the ranges
			var x = d3.time.scale().range([0, width]);
			var y = d3.scale.linear().range([height, 0]);

			// Define the axes
			var xAxis = d3.svg.axis().scale(x)
				.orient("bottom").ticks(5);

			var yAxis = d3.svg.axis().scale(y)
				.orient("left").ticks(5);

			// Define the line
			var valueline = d3.svg.line()
				.x(function(d) { return x(d.date); })
				.y(function(d) { return y(d.close); });
				
			// Adds the svg canvas
			var svg = d3.select("#Graphs")
				.append("svg")
					.attr("width", width + margin.left + margin.right)
					.attr("height", height + margin.top + margin.bottom)
				.append("g")
					.attr("transform", 
						"translate(" + margin.left + "," + margin.top + ")");

			// Get the data
			d3.csv("data_weight.csv", function(error, data) {
				data.forEach(function(d) {
					d.date = parseDate(d.date);
					d.close = +d.close;
				});

				// Scale the range of the data
				x.domain(d3.extent(data, function(d) { return d.date; }));
				y.domain([0, d3.max(data, function(d) { return d.close; })]);

				// Add the valueline path.
				svg.append("path")
					.attr("class", "line")
					.attr("d", valueline(data));

				// Add the X Axis
				svg.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(0," + height + ")")
					.call(xAxis);

				// Add the Y Axis
				svg.append("g")
					.attr("class", "y axis")
					.call(yAxis);

			});

			svg.append("text")
				.attr("x", (width / 2))             
				.attr("y", 0 - (margin.top / 2))
				.attr("text-anchor", "middle")  
				.style("font-size", "16px") 
				.style("text-decoration", "underline")  
				.text("Body weight");

			// text label for the y axis
			svg.append("text")
				.attr("transform", "rotate(-90)")
				.attr("y", 0 - margin.left)
				.attr("x",0 - (height / 2))
				.attr("dy", "1em")
				.style("text-anchor", "middle")
				.text("weight [kg]");


			// Adds the svg canvas
			var svg2 = d3.select("#Graphs")
				.append("svg")
					.attr("width", width + margin.left + margin.right)
					.attr("height", height + margin.top + margin.bottom)
				.append("g")
					.attr("transform", 
						"translate(" + margin.left + "," + margin.top + ")");

			// Get the data
			d3.csv("data_height.csv", function(error, data) {
				data.forEach(function(d) {
					d.date = parseDate(d.date);
					d.close = +d.close;
				});

				// Scale the range of the data
				x.domain(d3.extent(data, function(d) { return d.date; }));
				y.domain([0, d3.max(data, function(d) { return d.close; })]);

				

				// Add the valueline path.
				svg2.append("path")
					.attr("class", "line")
					.attr("d", valueline(data));

				// Add the X Axis
				svg2.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(0," + height + ")")
					.call(xAxis);

				// Add the Y Axis
				svg2.append("g")
					.attr("class", "y axis")
					.call(yAxis);

			});

			svg2.append("text")
				.attr("x", (width / 2))             
				.attr("y", 0 - (margin.top / 2))
				.attr("text-anchor", "middle")  
				.style("font-size", "16px") 
				.style("text-decoration", "underline")  
				.text("Body height");

			// text label for the y axis
			svg2.append("text")
				.attr("transform", "rotate(-90)")
				.attr("y", 0 - margin.left)
				.attr("x",0 - (height / 2))
				.attr("dy", "1em")
				.style("text-anchor", "middle")
				.text("height [cm]");

			xxx=document.getElementById("Observation");
			rowz=xxx.getElementsByTagName("tr");
			for (var i=0;i<rowz.length;i++){
				rowz[i].addEventListener("click", function(){
					console.log(this.className);
					var klaas=this.className;
					var elemz=xxx.getElementsByClassName(klaas);
					for (var j=1;j<elemz.length;j++){
						if (elemz[j].style.display!="none") elemz[j].style.display="none";
						else elemz[j].style.display="table-row";
					}
				})
			}

		</script>
	</body>
	
	<form id="page" style="display:none"></form>
</html>
